.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: $secondaryCl;
    color: $primaryCl;
    

    .header__navbar {
        justify-content: space-between;
        padding: 10px 0;
    }

    &__logo {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    
    &__list {
        gap: 20px;
    }

    &__item {
        font-weight: 600;
        padding: 4px 0;
        transition: 0.3s;

        
        &:hover {
            color: $mainCl;
        }

    }

    

    &__btn__sigin {
        @include btn()
    }

    &__item--close {
        font-size: 20px;
        color: red;
        display: none;
        cursor: pointer;
    }

    &__hamburger {
        display: none;
        flex-direction: column;
        gap: 5px;
        background: $secondaryCl;

        span {
            width: 25px;
            height: 3px;
            background: $primaryCl;
            border-radius: 2px;
        }
    }
}

.show__header__shrink {
    padding: 0;
    box-shadow: 0px 0px 10px $mainCl;
    background: $secondaryCl;
    background-color: #f0f0f005;
    backdrop-filter: blur(8px);
}



@media (max-width:850px) {
    .header {
        &__list {
            position: fixed;
            top: 0;
            left: -100%;
            width: 50%;
            background: $secondaryCl;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: 0px 0px 10px $mainCl;
            transition: 0.5s;
            z-index: 9999;
        }


        &__hamburger {
            display: flex;
        }

        &__show__list {
            left: 0;
        }

        &__item--close {
            position: absolute;
            display: block;
            color: red;
            top: 15px;
            right: 20px;
        }

        &__show__left {
            left: -100%;
        }

    }
}

@media (max-width:340px) {
    .header {
        &__list {
            width: 80%;
        }
    }
}