* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}

.df {
    display: flex;
    align-items: center;
}
main{
    padding-top: 80px;
}

.back-top {
    position: fixed;
    width: 35px;
    height: 35px;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
    background: $mainCl;
    color: $secondaryCl;
    border: 1px solid white;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

.show__back-top {
    display: flex;
}