.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__info {
        &__title {
            font-size: 54px;
            font-weight: 600;
            width: 1000%;
            max-width: 650px;
        }

        &__text {
            font-size: 18px;
            font-weight: 500;
            width: 100%;
            max-width: 600px;
            padding: 15px 0 20px;
        }
        &__btn {
            @include btn();
            background-color: $mainCl;
            color: white;
            border: 2px solid transparent;
            padding: 8px 26px;
            &:hover {
                background-color: $secondaryCl;
                color: $mainCl;
                border-color: $mainCl;
            }
        }
    }


}