@mixin btn($bg: var($btnCl), $cl: var($primaryCl), $size: 16px) {
    background: $mainCl ;
    color: $secondaryCl;
    font-size: $size;
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid  transparent;
    transition: 0.4s;
    border: 2px solid transparent;

    &:hover {
        color: $mainCl ;
        background: $secondaryCl;
        border-color: $mainCl;
    }
}


