$primaryCl: #394149;  
$secondaryCl: #FFFFFF;
$mainCl: #16A576;     // Saytdagi asosiy rang 
$btnCl: #F58A071A;     // button background color
$backBlue: #DCEAF5;   // ko'k background sectionlar uchun
$titleCl:  #0D1317;   // Title color (h1-h6)
$descCl: #5B5B5B;    // Description color (p)
$footCl: #16A576;   // footer backgroun color